<html lang="en-NG">

<head>
    <title>Calculator App</title>
</head>

<body>
    <h3 id="title">Scientific Calculator</h3>
    <br>
    <div id="main_body">
        <div id="textArea">
            
        <div id="tAreaTop"></div>
        <div id="tAreaBottom"></div>

        </div>
        <div id="calc_body">


            <button id="fac" class="">!</button>
            <button id="del">del</button>
            <button id="clr" class="">clr</button>
            <button id="per" class="">&#37</button>
            <br>
            <button id="sin" class="trig">sin</button>
            <button id="cos" class="trig">cos</button>
            <button id="tan" class="trig">tan</button>
            <button id="b_left" class="brac">&#40;</button>
            <br>
            <button id="asin" class="trig">asin</button>
            <button id="acos" class="trig">acos</button>
            <button id="atan" class="trig">atan</button>
            <button id="b_right" class="brac">&#41;</button>
            <br>
            <button id="sq" class="power">x<sup>2</sup></button>
            <button id="cube" class="power">x<sup>3</sup></button>
            <button id="sq_root" class="power"><span style="white-space: nowrap; font-size:larger; font-weight: bold">&radic;<span style="text-decoration: overline;">x</span></span></button>
            <button id="cube_root" class="power"><span style="white-space: nowrap; font-size:larger; font-weight: bold"><span style="font-size:12px; font-weight: normal"> 3</span>&radic;<span style="text-decoration: overline;">x</span></span></button>
            <br>
            <button id="nine" class="no">9</button>
            <button id="eight" class="no">8</button>
            <button id="seven" class="no">7</button>
            <button id="divide" class="sym">&divide;</button>
            <br>
            <button id="six" class="no">6</button> <button id="five" class="no">5</button>
            <button id="four" class="no">4</button>
            <button id="times" class="sym">&times;</button>
            <br>
            <button id="three" class="no">3</button>
            <button id="two" class="no">2</button>
            <button id="one" class="no">1</button>
            <button id="minus" class="sym">&minus;</button>
            <br>
            <button id="zero" class="no">0</button>
            <button id="point">&#9679;</button>
            <button id="equals">&#61;</button>
            <button id="plus" class="sym">&#43;</button>
            <br>

        </div>


    </div>
</body>

</html>